/*Avatar Module*/
  #avatar_div > object {
    width: 40%;
    height: auto;
  }
  
  /*Avatar Module*/
  #picture_div > div {
    display: block;
    margin: auto;
    width: 220%;
    height: 220%;
    position: absolute;
    left: -60%;
    top: -60%;
    pointer-events: none;
  }
  
  /*Avatar Module*/
  #main_section > #picture_div > #avatar_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }