@media (min-aspect-ratio: 1/1) {
  #picture_div>#keyboard_front {
    display: none;
  }

  #picture_div>#laptop_front {
    display: none;
  }

  #picture_div {
    top: -15%;
  }
}

/*Image Interests Module*/
#picture_div>div#bike_wheel object.hovering {
  transform: scale(1.1, 1.1);
}

/*Image Interests Module*/
#picture_div>div#laptop object.hovering {
  transform: scale(1.1, 1.1) rotate(-265deg);
}

/*Image Interests Module*/
#picture_div>div#books object.hovering {
  transform: scale(1.1, 1.1) rotate(-230deg);
}

/*Image Interests Module*/
#picture_div>div#keyboard object.hovering {
  transform: scale(1.1, 1.1) rotate(-195deg);
}

/*Image Interests Module*/
#picture_div>div#pans object.hovering {
  transform: scale(1.1, 1.1) rotate(-135deg);
}

/*Image Interests Module*/
#picture_div>div>object {
  pointer-events: all;
}

/*Image Interests Module*/
#picture_div>div>object.hovering {
  transition: all 0.2s ease;
  cursor: pointer;
}

/*Image Interests Module*/
#bike_wheel {
  transform: rotate(316deg);
}

/*Image Interests Module*/
#bike_wheel object {
  transform: rotate(-316deg);
  height: 28%;
  width: 28%;
}

/*Image Interests Module*/
#laptop {
  transform: rotate(275deg);
}

/*Image Interests Module*/
#laptop object {
  transform: rotate(-275deg);
  height: 30%;
  width: 30%;
  left: 6%;
  top: 5%;
  position: absolute;
}

/*Image Interests Module*/
#books {
  transform: rotate(230deg);
}

/*Image Interests Module*/
#books object {
  transform: rotate(-230deg);
  height: 20%;
  width: 20%;
  left: 11%;
  top: 14%;
  position: absolute;
}

/*Image Interests Module*/
#keyboard {
  transform: rotate(188deg);
}

/*Image Interests Module*/
#keyboard object {
  transform: rotate(-188deg);
  height: 45%;
  width: 45%;
  left: -12%;
  top: 4%;
  position: absolute;
}

/*Image Interests Module*/
#pans {
  transform: rotate(145deg);
}

/*Image Interests Module*/
#pans object {
  transform: rotate(-145deg);
  height: 25%;
  width: 25%;
}

@media (max-aspect-ratio: 1/1) {
  #picture_div>#keyboard {
    display: none;
  }

  #picture_div>#laptop {
    display: none;
  }


  #picture_div>#avatar_div {
    width: 400%;
    height: 400%;
    left: -150%;
    top: -150%;
  }

  #picture_div>#bike_wheel {
    transform: rotate(345deg);
    width: 120%;
    height: 120%;
    left: -35%;
    top: -50%;
  }

  #bike_wheel object {
    transform: rotate(-345deg);
    left: unset;
    top: unset;
  }

  #picture_div>#laptop_front {
    transform: rotate(360deg);
    width: 120%;
    height: 120%;
    top: -90%;
    left: -30%;
  }

  #laptop_front object {
    transform: rotate(-360deg);
    left: unset;
    top: unset;
    height: 30%;
    width: 30%;
    position: absolute;
  }

  #picture_div>#books {
    transform: rotate(406deg);
    width: 140%;
    height: 140%;
    left: -32%;
    top: -80%;
  }

  #books object {
    transform: rotate(-406deg);
    left: unset;
    top: unset;
  }

  #picture_div>#keyboard_front {
    transform: rotate(85deg);
    width: 140%;
    height: 140%;
    left: -5%;
    top: -91%;
  }

  #keyboard_front object {
    transform: rotate(-85deg);
    left: unset;
    top: unset;
    height: 45%;
    width: 45%;
    position: absolute;
  }

  #picture_div>#pans {
    transform: rotate(100deg);
    width: 150%;
    height: 150%;
    left: -25%;
    top: -50%;
  }

  #pans object {
    transform: rotate(-87deg);
    left: unset;
    top: unset;
  }

  #main_section > #picture_div > #avatar_div {
    transform: rotate(4deg);
    left: -143%;
}
}
