@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Script&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300&family=Nova+Script&family=Righteous&display=swap');

/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v61/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOejbd5zrDAt.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: antiquewhite;
  padding-right: 3vw;
}

/*Globals Module*/
body {
  background-color: #fac943;
}

/*Globals Module*/
.title_name {
  font-family: 'Righteous', cursive;
  color: antiquewhite;
  padding-right: 30px;
  padding-left: 30px;
}

/*Globals Module*/
.nav_bar_butt {
  font-family: 'Nova Script', cursive;
  border: none;
  color: antiquewhite;
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 13px;
  text-decoration: none;
}

/*Globals Module*/
.lateral_side_padding {
  padding-right: 24px;
}

/*Globals Module*/
#nav_bar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
}

/*Globals Module*/
.buttons_div {
  display: flex;
}

/*Globals Module*/
.nav_bar_butt:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.2s ease;
  opacity: 1;
  cursor: pointer;
}

/*Globals Module*/
.nav_bar_butt {
  background-color: transparent;
}

/*Globals Module*/
.nav_bar_butt:active {
  color: #faa302;
}

/*Globals Module*/
.slashes {
  font-size: 50px;
  color: antiquewhite;
  padding-bottom: 45px;
  pointer-events: none;
}


@media (max-aspect-ratio: 1/1) {
  html {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: scroll;
  }

  /*Globals Module*/
  body {
    height: 164vw;
  }

  #avatar_div>object {
    width: 65vw;
    height: auto;
  }
}

@media (min-width: 600px) {
  .material-symbols-outlined {
    display: none;
  }
}

@media (max-width: 599px) {
  .material-symbols-outlined {
    position: fixed;
    right: 15px;
  }

  .buttons_div:not(.onAndOffSwitch) {
    display: none;
  }

  #menuSelect.buttons_div.onAndOffSwitch {
    /* background-color: blue; */
  
    flex-direction: column;
    align-items: flex-end;
    padding-top: 200px;
  }

  .nav_bar_butt {
    height: 40px;
  }

  .slashes {
    display: none;
  }
}