/*Main Section Module*/
#main_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/*Main Section Module*/
#picture_div {
  width: calc((100vw + 100vh) * 0.15);
  height: calc((100vw + 100vh) * 0.15);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: auto;
  position: relative;
  margin-top: calc(50vh - (((100vw + 100vh) * 0.15))/2);
}

/*Main Section Module*/
#picture_div::before {
  display: block;
  height: 1px;
  width: 100vw;
  background-color: red;
  position: absolute;
  top: 72%;
  content: '';
  left: calc(-50vw - (((100vw + 100vh) * 0.15)/2) * -1);
  z-index: 0;
}